<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background: #46B424!important;">
  <div class="container">
    <a class="navbar-brand" href="index.html"><img src="./assets/logo.jpg " alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav"
      style="justify-content: flex-end !important;">
      <ul class="navbar-nav text-center">
        <li routerLink="/page1" class="nav-item">
          <a class="nav-link" href="index.html"><h4>Inicio</h4></a>
        </li>
        <li routerLink="/page2" class="nav-item">
          <a class="nav-link" href="publicaciones.html"><h4>Publicaciones</h4></a>
        </li>

        <li routerLink="/page2" class="nav-item">
          <a class="nav-link" href="eventos.html"><h4>Eventos</h4></a>
        </li>
        
        <li routerLink="/page2" class="nav-item">
          <a class="nav-link" href="desafios.html"><h4>Desafios</h4></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#"><h4>Huella de Carbono</h4></a>
        </li>
        <div  class="navbar-buttons">
          <button class="btn" routerLink="/register">REGISTRARSE</button>
          <button class="btn" routerLink="/login">INICIAR SESIÓN</button>
        </div>
      </ul>
    </div>
  </div>
</nav>
