body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-container {
  background-color: #1D75A7;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  text-align: center;
}

.login-container h2 {
  color: #fff;
  margin-bottom: 20px;
}

.login-container label {
  color: #fff;
  display: block;
  margin-bottom: 5px;
  text-align: left;
}

.login-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
}

.login-container input::placeholder {
  color: #bbb;
}

.login-container button {
  background-color: #F79438;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.login-container button:hover {
  background-color: #e68428;
}
